body {
    background-color: #f7f7f7 !important;
}

.graph-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
}

.input-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.input-label {
    align-items: center;
    color: #333333;
    display: flex;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.latex-field {
    color: #333333;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.markdown-container {
    margin-bottom: 20px;
    margin-top: 40px;
    max-width: 50%;
    text-align: left;
    width: 100%;
}

.markdown-container-parent {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.markdown-header {
    color: #333333;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.markdown-text {
    color: #333333;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.new-sequence-button,
.reset-button,
.toggle-equilibrium-button,
.toggle-current-sequence-button {
    background-color: #28a745;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
}

.numeric-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 75px;
}

.reset-button {
    background-color: #dc3545;
}

.string-input-label {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: auto;
}